<section>
    <div class="favAlbums">
        <h2>Favorite albums</h2>
        <div class="albums_group">
            {{#each albums}}
            <ul>
                <a href="/album/{{ id }}">
                <li>
                    <div class="album_info">
                        <img src="images/{{artist.firstName}}{{artist.lastName}}{{album.name}}.png" alt="{{album.name}}">
                        <p>{{name}}</p>
                        <p>{{artist.firstName}} {{artist.lastName}}</p>
                    </div>
                    <form action="/removefromfavorites/{{ id }}" method="post">
                        <input type="hidden" name="_method" value="POST">
                        <button type="submit">Verwijderen uit favorieten</button>
                    </form>
                </li>
                </a>
            </ul>
            {{/each}}
        </div>
    </div>
</section>
<section>
    <div class="favAlbums">
        <h2>Favorite songs</h2>
        <div class="albums_group">
            {{#each songs}}
            <ul>
                <a href="/song/{{ id }}">
                    <li>
                        <div class="album_info">
                            <img src="{{name}}.jpg" alt="{{name}}">
                            <p>{{name}}</p>
                        </div>
                        <form action="/removeSongfromfavorites/{{ id }}" method="post">
                            <input type="hidden" name="_method" value="POST">
                            <button type="submit">Verwijderen uit favorieten</button>
                        </form>
                    </li>
                </a>
            </ul>
            {{/each}}
        </div>
    </div>
</section>