<div class="header-album">
    <div class="inner-cover">
    <img class="album_image_header"
        src="../images/album/{{albumsDetail.artist.firstName}}{{albumsDetail.artist.lastName}}{{albumsDetail.name}}.png"
        alt="{{albumsDetail.name}}">
    </div>
    <div class="header-image">
        <img src="../images/album/{{albumsDetail.artist.firstName}}{{albumsDetail.artist.lastName}}{{albumsDetail.name}}.png"alt="{{albumsDetail.name}}">
        <div class="info-album">
            <h1 class="info-album-text">{{albumsDetail.name}}</h1>
            <h2 class="info-album-text">{{albumsDetail.artist.firstName}} {{albumsDetail.artist.lastName}}</h2>
            <p>{{albumsDetail.genre}}</p>
        </div>
    </div>
</div>