<div class="header-album">
    <div class="inner-cover">
    <img class="album_image_header"
        src="../images/{{playlistDetail.name}}{{playlistDetail.id}}.png"
        alt="{{playlistDetail.name}}">
    </div>
    <div class="header-image">
        <img src="../images/{{playlistDetail.name}}{{playlistDetail.id}}.png"alt="{{playlistDetail.name}}">
        <div class="info-album">
            <h1 class="info-album-text">{{playlistDetail.name}}</h1>
            <h2 class="info-album-text">{{playlistDetail.users.firstName}} {{playlistDetail.users.lastName}}</h2>
        </div>
    </div>
</div>