<div class="header-album">
    <div class="inner-cover">
    <img class="album_image_header"
        src="../images/{{userData.firstName}}.jpg"
        alt="{{firstName}}">
    </div>
    <div class="header-image">
        <img src="../images/{{userData.firstName}}.jpg"alt="{{userData.firstName}}">
        <div class="info-album">
            <h1 class="info-album-text">{{userData.firstName}} {{userData.lastName}}</h1>
        </div>
    </div>
</div>